<div class="footer">
  <div class="pageContent footerContainer">
    <div class="footerContainerColumn">
      <a class="footerContainerColumnHeader" routerLink="/">CareerPath</a>
      <a class="footerContainerColumnLink" routerLink="/about"> About Us</a>
      <a class="footerContainerColumnLink" routerLink="/signup"> Signup </a>
      <a class="footerContainerColumnLink" routerLink="/login"> Login </a>
    </div>
    <!-- <div class="footerContainerColumn pt-5">
      <a class="footerContainerColumnLink" routerLink="/about"> </a>
      <a class="footerContainerColumnLink" routerLink="/signup"> </a>
      <a class="footerContainerColumnLink" routerLink="/login"> </a>
    </div> -->
  </div>
</div>
