.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: var(--var-color-primary);
    z-index: 1000;
}

.menuLink,
.headerLink{
    padding: .3rem 1rem;
    color: var(--var-color-background);
    text-decoration: none;
    margin: 0;
    font-weight: 300;
}


.headerLink {
    margin-left: 1rem;
}

.headerLinkMain {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--var-color-background);
    color: var(--var-color-primary);
    padding: .5rem 1rem;
    border-radius: 1rem;
    font-weight: 500;
    transition: all 0.3s;
    margin-left: 1rem;
    display: none;
}

.headerLinkMain:hover {
    opacity: 0.8;
}

.headerLinkContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
    box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.1);
    width: 100%;
}

.menuBtn {
    display: none;
}

.logoContainer {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.logo {
    color: var(--var-color-background);
    font-size: 1.4rem;
    font-weight: bold;
    width: 10rem;
}

// Mobile Styles
@media (max-width: 768px) {
    .header {
        position: sticky;
        top: 0;
        z-index: 1000;
    }
    .headerLink {
        display: none;
    }

    #menuBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        width: 3rem;
        background: var(--var-color-background) !important;
        z-index: 1000;
        border-radius: 5px;
    }

    #menuBtnIcon {
        padding: 0;
    }

    .menuLink {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    ::ng-deep .menuLink:hover {
        background-color: rgba(0, 0, 0, 0.1) !important;
    }

    .mat-mdc-menu-item {
        background: var(--var-color-background);
    }

    ::ng-deep .mat-mdc-menu-content {
        padding: 0 !important;
    }

}

// Desktop Styles
@media (min-width: 768px) {
    .logoContainer {
        padding-left: 2rem;
    }
}