<!-- Desktop Navigation -->
<div class="header">
  <div class="logoContainer">
    <a class="headerLink headerLinkLogo" routerLink="/"> CareerPaths </a>
  </div>
  <nav class="headerLinkContainer">
    <a class="headerLink" routerLink="/" routerLinkActive="active">Home</a>
    <a class="headerLink" routerLink="/about" routerLinkActive="active">
      About
    </a>
    <a
      class="btn headerLinkMain"
      routerLink="/signup"
      routerLinkActive="active"
    >
      Get Started
    </a>
    <!-- Mobile Menu Button -->
    <button mat-icon-button [matMenuTriggerFor]="menu" id="menuBtn">
      <mat-icon id="menuBtnIcon">menu</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <a class="menuLink" mat-menu-item routerLink="/home">Home</a>
      <a class="menuLink" mat-menu-item routerLink="/about">About</a>
    </mat-menu>
  </nav>
</div>
