.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--var-color-background-dark);
}

.headerAlt .header {
    background: var(--var-color-background);
}

.headerContent {
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 1000;
    background: var(--var-color-background-dark);
}

.menuLink,
.headerLink{
    padding: .3rem 1rem;
    color: var(--var-color-light);
    text-decoration: none;
    margin: 0;
    font-weight: 300;
    transition: all 0.3s ease;
}

.menuLink:hover {
    background: var(--var-color-background) !important;
    opacity: 0.8;
}


.headerLink {
    position: relative;
    text-decoration: none;
}

.headerLinkMain {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff !important;
    padding: .5rem 1rem;
    border-radius: 1rem;
    font-weight: 500;
    transition: all 0.3s;
    margin-left: 1rem;
    display: none;
}

.headerLinkMain:hover {
    opacity: 0.8;
}

.headerLinkLogo {
    color: var(--var-color-light);
    font-size: 1.8rem;
    text-decoration: none;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;
}

.logoIcon {
    font-size: 2rem;
    margin-right: 0.5rem;
}


.headerLinkContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
    width: 100%;
}

#menuBtn {
    display: none;
}

.logoContainer {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.logo {
    color: var(--var-color-background);
    font-size: 1.4rem;
    font-weight: bold;
    width: 10rem;
}

.headerImg {
    width: 4rem;
    height: 3.5rem;
}

.headerAlt .headerLink {
    color: var(--var-color-primary);
}

.active {
    font-weight: 400;
}

.headerLink.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: var(--var-color-background-dark);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
  }
  
  .headerLink.active:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

.headerAlt  {
    box-shadow: none !important;
}

// Mobile Styles
@media (max-width: 768px) {
    .header {
        position: sticky;
        top: 0;
        z-index: 1000;
        justify-content: space-between;
        width: 100%;
    }
    .headerLink {
        display: none;
        margin-left: none !important;
        padding-left: 0;
        font-size: 1.5rem;
    }

    #headerLogo {
        display: flex;
    }

    #menuBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        width: 3rem;
        background: var(--var-color-background-dark) !important;
        color: var(--var-color-background);
        z-index: 1000;
        border-radius: 5px;
    }

    #menuBtnIcon {
        padding: 0;
    }

    .menuLink {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    .mat-mdc-menu-item {
        background: var(--var-color-background);
    }

    ::ng-deep .mat-mdc-menu-content {
        padding: 0 !important;
    }

}

// Desktop Styles
@media (min-width: 768px) {
    .logoContainer {
        padding-left: 2rem;
    }

    .headerLinkContainer {
        padding-right: 5rem;
    }

    .headerAlt {
        background: none;
    }

    .headerLink {
        margin-left: 1rem;
    }
}