<div class="page signup">
  <div class="signupCard">
    <div class="signupCardHeader">
      <h1 class="signupCardHeaderText">Welcome to Clarity,</h1>
      <p class="signupCardSubText">Create an account to get started</p>
    </div>
    <form class="signupCardForm">
      <input
        type="email"
        class="signupCardFormInput"
        placeholder="Email Address"
      />
      <input
        type="password"
        class="signupCardFormInput"
        placeholder="Password"
      />
      <input
        type="password"
        class="signupCardFormInput"
        placeholder="Confirm Password"
      />
      <button class="btn signupCardFormBtn">Signup</button>
    </form>
    <p class="signupCardText">
      Have an account?
      <a class="link signupCardLink" routerLink="/login">Login</a>
    </p>
  </div>
</div>
