<div class="page about">
  <div class="aboutContainer pageContent">
    <div class="aboutContainerItem">
      <h1 class="aboutHeader">ABOUT US</h1>
      <p class="aboutSubHeader">
        At CareerPaths, we are dedicated to helping students and professionals
        navigate their career journey. Our goal is to make career growth
        accessible by focusing on the most important factor—skills development.
      </p>
    </div>
    <div class="aboutContainerItem">
      <p class="aboutText">
        CareerPaths was built for students and professionals who want to grow
        their careers by learning the right skills for their goals. Career
        development is all about skill development—having a clear understanding
        of where you are now and what you need to learn can make all the
        difference in advancing your career.
      </p>
      <p class="aboutText">
        By analyzing your current skills and experiences, we help identify gaps
        and shows you the best paths forward. Whether you're looking to move up
        in your field, switch to a new role, or explore different career
        options, having a structured learning plan keeps you focused and
        motivated.
      </p>
      <p class="aboutText">
        To make learning easier, we also provide resources to help you build the
        skills you need. The goal is simple—give you clarity, direction, and the
        tools to take control of your career growth.
      </p>
    </div>
  </div>
  <div class="aboutImgContainer">
    <img src="" alt="" class="aboutImg" />
  </div>
</div>
