<div class="page home">
  <div class="homeHeroContainer">
    <div class="homeHero">
      <h1 class="homeHeroHeader">Where Will Your Skills Take You?</h1>
      <p class="homeHeroText">
        Explore career paths that align with what you already know—and discover
        the extra skills that can take you further.
      </p>
      <p class="homeHeroText"></p>
      <button class="btn btnLight homeHeroBtn">Get Started</button>
    </div>
    <div class="homeHero">
      <div class="homeHeroImagesContainer">
        <h2 class="homeHeroImagesHeader">User Stories</h2>

        <div class="homeHeroImages">
          <div class="homeHeroImage">
            <p class="homeHeroImageText">Lorem Ipsum</p>
            <img src="assets/images/home/hero-image-1.jpg" alt="Hero Image 1" />
          </div>
          <div class="homeHeroImage">
            <p class="homeHeroImageText">Lorem Ipsum</p>
            <img src="assets/images/home/hero-image-1.jpg" alt="Hero Image 1" />
          </div>
          <div class="homeHeroImage">
            <p class="homeHeroImageText">Lorem Ipsum</p>
            <img src="assets/images/home/hero-image-1.jpg" alt="Hero Image 1" />
          </div>
          <div class="homeHeroImage">
            <p class="homeHeroImageText">Lorem Ipsum</p>
            <img src="assets/images/home/hero-image-1.jpg" alt="Hero Image 1" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
