.home {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    color: var(--var-color-primary);
    background: var(--var-color-background);
}

// Hero CSS
.homeHeroContainer {
    text-align: left;
    background: var(--var-color-primary);
    color: var(--var-color-background);
    padding: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
}

.homeHero {
    width: 100%;
    margin: 1rem 0 1rem 0;
}

.homeHeroHeader {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.homeHeroText {
    font-size: 1rem;
    margin-bottom: 1rem;
    opacity: 0.9;
}

.homeHeroBtn {
    width: 14rem;
    margin-top: 1rem;
}

// Hero Review CSS
.homeHeroReviewContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
    background: var(--var-color-background);
    color: var(--var-color-primary);
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    box-sizing: border-box;
    width: 100%;
}

.homeHeroReviewHeader {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
}

.homeHeroReview {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    margin-top: 1rem;
    width: 100%;
}

.homeHeroReviewCard {
    border-radius: 1rem;
    overflow: hidden;
    border: 1px solid var(--var-color-primary);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.homeHeroReviewStars {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.homeHeroReviewStar {
    color: var(--var-color-primary);
}

.homeHeroReviewText {
    font-size: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

.homeHeroReviewName {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    text-align: center;
    width: 100%;
}

// General Home CSS
.homeSectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1rem;
}


// Optimize CSS for desktop (auto optimized for mobile)
@media (min-width: 768px) {
    .homeHeroContainer  {
        padding: 8rem 2rem 3rem 5rem;
        border-bottom-left-radius: 100px;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 5rem;

    }

    .homeHeroHeader {
        font-size: 2.1rem;
        max-width: 40vw;
    }

    .homeHeroText {
        font-size: 1.2rem;
        max-width: 40vw;
    }

    .homeHeroReviewContainer {
        max-width: 50vw;
        position: absolute;
        top: 6rem;
        right: 0;
        padding: 1.3rem 1rem 1rem 1rem;
    }

    .homeSectionContainer  {
        padding-top: 8rem;
    }
}

